@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Inter', sans-serif;
    background-color: #f3f4f6; /* Tailwind 'gray-100' */
}

/* Stili për scrollbar-in */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #54a09b; /* brand-cyan */
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #4a8c87;
}

/* Bën që footeri të qëndrojë poshtë */
#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.main-layout {
    flex-grow: 1;
}
